/*contactNewビューのcss*/
.contactNew .space {
    width: 50%;
    margin: 0 auto;
}
/*confirmビューのcss*/

.confirm_item {
    margin: 30px auto;
    width: 60%;
    
    border-bottom: thick double #800000;  
}
.backbotton {
    padding: 6px 30px;
}
.info-orange {
    color: orange;
}
.complete-info {
    font-size: 32px;
}