/*ページ全体のデザイン*/
body {
    font-family:serif, 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    background-image: url("../images/orange2.jpg");
    background-size: cover;
}
.navbar {
    background: radial-gradient(#FFFF88	, #FFC778);
}