/*registraitionビューのcss*/
.registrationPage .space {
    width: 50%;
    margin: 0 auto;
}
/*editビューのcss*/
.userProfilePage .space {
    width: 50%;
    margin: 0 auto;
}
/*indexビューのcss*/
.userIndexPage table {
    width: 1000px;
    margin: 0 auto;
}
.userIndexPage .tr-color {
    background-color: #FFCC66;
}